<style>
    h1{
        text-align:center;
        color:green;
    }
</style>
<body>
    <%- include("partials/nav") %>
    <h1>WELCOME YOU SUCCESSFULLY LOGINNED INTO YOUR ACCOUNT</h1>
</body>